* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  font-size: 50px;
  margin: 20px;
  color: brown;
}
.board {
  display: flex;
  background-color: pink;
  justify-content: space-around;
  padding: 10px;
  margin: 50px;
}

.rock,
.paper,
.scissors {
  background-color: purple;
  width: 150px;
  height: 150px;
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 17px;
}

.computer_move {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  /* give a fixed size so it doesn't stretch full-width */
  width: 150px;
  height: 150px;
  margin: 0 auto;
  justify-content: center;
  align-items: center; /* center inner content horizontally */
  text-align: center;
  border-radius: 17px; /* match other buttons */
}

.score_board {
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 17px;
  margin: 20px;
}
